<div class="dropdown">
    <li class="nav-link dropdown-toggle mb-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Login
    </li>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li class="p-2">
            <form [formGroup]="loginForm" class="form" role="form">
                <div class="form-group text-center">
                    Login
                </div>
                <div class="mb-2 form-group">
                    <input formControlName="username" type="text" placeholder="Username"
                        class="form-control form-control-sm" id="InputUserName">
                </div>
                <div class="mb-2 form-group">
                    <input formControlName="password" type="password" placeholder="Password"
                        class="form-control form-control-sm" id="InputPassword">
                </div>
                <div class="form-group text-center d-flex justify-content-start">
                    <button (click)="login()" type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        </li>
    </ul>
</div>